:root {
    --off-white: #f0ece2; 
    --beige: #dfd3c3; 
    --brown: #c7b198; 
    --blue-gray: #596e79; 
}

body {
    box-sizing: border-box;
    margin: 0;
    display: grid;
    }

header {
    background-color: var(--blue-gray);
    color: white;
    padding: 10px;
    font-size: 40px;
    text-align: center;
}
.content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
 }

.sidebar {
    background-color: var(--brown);
    padding: 20px;
}
.category-container, .date-container {
margin-top: 50px;
}

ul {
    list-style: none;
}
